* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  /* TODO */
}

input {
 /* TODO */
}

.search-container {
  width: fit-content;
  height: 100vh;
  margin-inline: auto;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
  height: 2em;
  width: 18em;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}
.search-container .suggestions {
  width: match-parent;
  position: relative;
  top: 50%;
  transform: translateY(-1.15em)
}

ul {
  list-style-type: none;
  width: match-parent;
  margin-top: 0;
  padding-left: 0.25em;
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}