* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0.25turn, #f9d323, #e75d01)
}

.search-container input:focus {
  outline-color: #e75d01; 
}

.search-container {
  width: fit-content;
  height: 100vh;
  margin-inline: auto;
}

.search-container input {
  height: 3em;
  width: 25em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.25);
  padding-left: 0.25em;
  border: none;
  border-bottom: 2px solid #e75d01;
}

.search-container .suggestions {
  width: match-parent;
  position: relative;
  top: 50%;
  transform: translateY(-1.5em)
}

ul {
  list-style-type: none;
  width: match-parent;
  margin-top: 0;
  padding-left: 0;
}

ul li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.25em;
  background-color: rgba(255, 255, 255, 0.25);
}

ul li:hover {
  background-color: #e65c00;
}